<h1>And it ...BEGINS</h1>

<h2>List of Posts</h2>
<table>
<tr>
  <th>Title</th>
  <th>Source</th>
  <th>URL</th>
  <th>Category</th>
</tr>
<% @posts.each do |post| %>
<tr>
  <td><%= post.title %></td>
  <td><%= post.source %></td>
  <td><a href="<%= post.url %>"><%= post.url %></a></td>
  <td><%#= post.category_ids ? post.category_ids[0].name : "" %></td>
</tr>
<% end %>
</table>